[project]
	description = "Rapid Prototyping with JS examples. Rapid Prototyping with JS is a JavaScript and Node.js book that will teach you how to build mobile and web apps fast.  "
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sapan Shah (shahs11)
[access "refs/for/refs/*"]
	read = group user/Sapan Shah (shahs11)
	push = group user/Sapan Shah (shahs11)
	label-Code-Review = -2..+2 group user/Sapan Shah (shahs11)
	label-Verified = -1..+1 group user/Sapan Shah (shahs11)
	rebase = group user/Sapan Shah (shahs11)
	removeReviewer = group user/Sapan Shah (shahs11)
	submit = group user/Sapan Shah (shahs11)
[access "refs/heads/*"]
	read = group user/Sapan Shah (shahs11)
	create = group user/Sapan Shah (shahs11)
	push = +force group user/Sapan Shah (shahs11)
	pushMerge = group user/Sapan Shah (shahs11)
[access "refs/tags/*"]
	push = +force group user/Sapan Shah (shahs11)
	pushTag = group user/Sapan Shah (shahs11)
	pushSignedTag = group user/Sapan Shah (shahs11)
